<!DOCTYPE html>
<html xmlns:th="https://www.thymleaf.org" xmlns:sec="http://www.thymleaf.org/thymleaf-extras-springsecurity6">
<head th:replace="fragments :: page_head('Домашняя страница')">
    <style>
        .dropdown-menu{
            animation: .5s slideup;
        }
        @keyframes slideup {
            from{
                transform: translateY(10%);
            }to{
            transform: translateY(0%);
             }
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>
    <div>
        <h1>Панель управления магазином</h1>
    </div>
    <div th:replace="fragments :: footer"></div>
</div>
<!--<script type="text/javascript">-->
<!--    $(document).ready(function (){-->
<!--        $("#logoutLink").on("click", function (e) {-->
<!--            e.preventDefault();-->
<!--            document.logoutForm.submit();-->
<!--        })-->
<!--    })-->
<!--</script>-->
</body>
</html>