<!DOCTYPE html>
<html xmlns:th="https://www.thymleaf.org">
<head th:replace="fragments :: page_head('Управление категориями')">
</head>
<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>
    <div>
        <h2>Управление категориями</h2>
    </div>

    <div class="row m-2 justify-content-start">
        <div class="col">
            <a th:href="@{/categories/new}"><i class="fa-solid fa-folder-plus fa-2xl" style="color:#183153" ></i></i></a>
            &nbsp;|&nbsp;
            <a th:href="@{/categories/export/excel}"><i class="fa-solid fa-file-excel fa-2xl " style="color: green"></i></a>
        </div>
    </div>


    <div th:if="${massage!=null}" class="alert alert-success text-center">
        [[${massage}]]
    </div>

    <div>
        <form th:action="@{/categories/page/1}">

            <input type="hidden" name="sortField" th:value="${sortField}" />
            <input type="hidden" name="sortDir" th:value="${sortDir}" />
            <div class="row g-3 m-2">
                <div class="col-auto">
                    <label class="col-form-label">Фильтр:</label>
                </div>
                <div class="col-auto col-sm-2">
                    <input type="search" name="keyword"  th:value="${keyword}" class="form-control " required/>
                </div>
                <div class="col-auto">
                    <input type="submit" value="Search" class="btn btn-primary" />
                    <input type="button" value="Clear" class="btn btn-secondary " onclick="clearFilter()"/>
                </div>
            </div>
        </form>
    </div>

    <div>
        <table class="table table-bordered table-striped table-responsive-xl">
            <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Фото категории</th>
                <th>Название категории</th>
                <th>Псевдоним</th>
                <th>Статус</th>
                <th></th>
<!--                <th th:replace="fragments::column_link('id','id')"/>-->
<!--                <th th:replace="fragments::column_link('email','e-mail')"/>-->
<!--                <th th:replace="fragments::column_link('lastName','Фамилия')"/>-->
<!--                <th th:replace="fragments::column_link('firstName','Имя')"/>-->
<!--                <th th:replace="fragments::column_link('patronymic','Отчество')"/>-->
<!--                <th>Роль</th>-->
<!--                <th th:replace="fragments::column_link('enabled','Статус')"/>-->
<!--                <th></th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="cat: ${listCategories}">
                <td>[[${cat.id}]]</td>
                <td>
                    <img th:src="@{${cat.imagePath}}" style="width: 100px" class="img-fluid"/>
                </td>
                <td>[[${cat.name}]]</td>
                <td>[[${cat.alias}]]</td>
                <td><a th:if="${cat.enabled==true}"
                       class="fa-solid fa-circle-check fa-2x icon-green text-center text-decoration-none"
                       style="color: green" th:href="@{'/categories/category_status/'+${cat.id}}"></a>
                    <a th:if="${cat.enabled==false}"
                       class="fa-cog fa-solid fa-solid fa-circle-xmark fa-2x icon-dark text-center text-decoration-none"
                       style="color: red" th:href="@{'/categories/category_status/'+${cat.id}}"></a>
                <td>
                <a class="btn btn-success" th:href="@{'/categories/edit/'+${cat.id}}">Редактировать</a> &nbsp;
                    <th:block th:if="${cat.hasChildren==false}"><a class="btn btn-outline-danger" style="" th:href="@{'/categories/delete/'+${cat.id}}" >Удалить</a></th:block>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


<!--    <div class="text-center m-2" th:if="${totalItems} > 0">-->
<!--        <span> Показаны пользователи # [[${startCount}]] по [[${endCount}]] из [[${totalItems}]] </span>-->
<!--    </div>-->
<!--    <div class="text-center m-2" th:unless="${totalItems} > 0">-->
<!--        <span>Пользователи не найдены</span>-->
<!--    </div>-->

<!--    <div th:if="${totalPages>1}">-->
<!--        <nav >-->
<!--            <ul class="pagination justify-content-center">-->
<!--                <li th:class="${currentPage>1?'page-item':'page-item disabled'}">-->
<!--                    <a th:replace="fragments :: page_link('1','Первая')"></a>-->
<!--                </li>-->

<!--                <li th:class="${currentPage>1?'page-item':'page-item disabled'}">-->
<!--                    <a th:replace="fragments :: page_link(${currentPage-1},'Предыдущая')"></a>-->
<!--                </li>-->

<!--                <li th:class="${currentPage != i ? 'page-item':'page-item active' }"-->
<!--                    th:each="i:${#numbers.sequence(1,totalPages)}">-->
<!--                    <a th:replace="fragments :: page_link(${i},${i})"></a>-->
<!--                </li>-->

<!--                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">-->
<!--                    <a th:replace="fragments :: page_link(${currentPage+1},'Следующая')"></a>-->
<!--                </li>-->

<!--                <li th:class="${currentPage < totalPages ? 'page-item' : 'page-item disabled'}">-->
<!--                    <a th:replace="fragments :: page_link(${totalPages},'Последняя')"></a>-->
<!--                </li>-->

<!--            </ul>-->
<!--        </nav>-->
<!--    </div>-->

    <div class="text-center">
        <div th:replace="fragments :: footer"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function (){
        $("#logoutLink").on("click", function (e) {
            e.preventDefault();
            document.logoutForm.submit();
        })
    })

    function clearFilter(){
        window.location="[[@{/users}]]";
    }
</script>
</body>
</html>