<!doctype html>
<html xmlns:th="https://www.thymleaf.org">
<head th:replace="fragments :: page_head('Управление категориями','none')">
</head>
<body>
<div class="container-fluid">
    <div th:replace="navigation :: menu"></div>
    <div>
        <h2>Управление категориями</h2>
    </div>

    <div class="row m-2 justify-content-start">
        <div class="col">
            <a th:href="@{/categories/new}"><i class="fa-solid fa-folder-plus fa-2xl" style="color:#183153" ></i></i></a>
<!--            &nbsp;|&nbsp;-->
        </div>
    </div>


    <div th:if="${massage!=null}" class="alert alert-success text-center">
        [[${massage}]]
    </div>

    <div th:replace="fragments :: search_form('/categories/page/1')"></div>
    <div>
        <table class="table table-bordered table-striped table-responsive-xl">
            <thead class="table-dark">
            <tr>
                <th>Id</th>
                <th>Фото категории</th>
                <th th:replace="fragments::column_link('/categories','name','Название категории')"/>
                <th>Псевдоним</th>
                <th>Статус</th>
                <th></th>
<!--                <th th:replace="fragments::column_link('id','id')"/>-->
<!--                <th th:replace="fragments::column_link('email','e-mail')"/>-->
<!--                <th th:replace="fragments::column_link('lastname','фамилия')"/>-->
<!--                <th th:replace="fragments::column_link('firstname','имя')"/>-->
<!--                <th th:replace="fragments::column_link('patronymic','отчество')"/>-->
<!--                <th>роль</th>-->
<!--                <th th:replace="fragments::column_link('enabled','статус')"/>-->
<!--                <th></th>-->
            </tr>
            </thead>
            <tbody>
            <tr th:each="cat: ${listCategories}">
                <td>[[${cat.id}]]</td>
                <td>
                    <img th:src="@{${cat.imagePath}}" style="width: 100px" class="img-fluid"/>
                </td>
                <td>[[${cat.name}]]</td>
                <td>[[${cat.alias}]]</td>
                <td><a th:if="${cat.enabled==true}"
                       class="fa-solid fa-circle-check fa-2x icon-green text-center text-decoration-none"
                       style="color: green" th:href="@{'/categories/category_status/'+${cat.id}}"></a>
                    <a th:if="${cat.enabled==false}"
                       class="fa-cog fa-solid fa-solid fa-circle-xmark fa-2x icon-dark text-center text-decoration-none"
                       style="color: red" th:href="@{'/categories/category_status/'+${cat.id}}"></a>
                <td>
                <a class="btn btn-success" th:href="@{'/categories/edit/'+${cat.id}}">Редактировать</a> &nbsp;
                <th:block th:if="${cat.hasChildren==false&&productService.findProductByCategoryID(cat.id)==false}"><a class="btn btn-outline-danger" style="" th:href="@{'/categories/delete/'+${cat.id}}" >Удалить</a></th:block>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


<!--    <div class="text-center m-2" th:if="${totalitems} > 0">-->
<!--        <span> показаны пользователи # [[${startcount}]] по [[${endcount}]] из [[${totalitems}]] </span>-->
<!--    </div>-->
<!--    <div class="text-center m-2" th:unless="${totalitems} > 0">-->
<!--        <span>пользователи не найдены</span>-->
<!--    </div>-->

<!--    <div th:if="${totalpages>1}">-->
<!--        <nav >-->
<!--            <ul class="pagination justify-content-center">-->
<!--                <li th:class="${currentpage>1?'page-item':'page-item disabled'}">-->
<!--                    <a th:replace="fragments :: page_link('1','первая')"></a>-->
<!--                </li>-->

<!--                <li th:class="${currentpage>1?'page-item':'page-item disabled'}">-->
<!--                    <a th:replace="fragments :: page_link(${currentpage-1},'предыдущая')"></a>-->
<!--                </li>-->

<!--                <li th:class="${currentpage != i ? 'page-item':'page-item active' }"-->
<!--                    th:each="i:${#numbers.sequence(1,totalpages)}">-->
<!--                    <a th:replace="fragments :: page_link(${i},${i})"></a>-->
<!--                </li>-->

<!--                <li th:class="${currentpage < totalpages ? 'page-item' : 'page-item disabled'}">-->
<!--                    <a th:replace="fragments :: page_link(${currentpage+1},'следующая')"></a>-->
<!--                </li>-->

<!--                <li th:class="${currentpage < totalpages ? 'page-item' : 'page-item disabled'}">-->
<!--                    <a th:replace="fragments :: page_link(${totalpages},'последняя')"></a>-->
<!--                </li>-->

<!--            </ul>-->
<!--        </nav>-->
<!--    </div>-->
    <div th:replace="fragments :: pagination('/categories','категории')"></div>

    <div class="text-center">
        <div th:replace="fragments :: footer"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function (){
        $("#logoutLink").on("click", function (e) {
            e.preventDefault();
            document.logoutForm.submit();
        })
    })

    function clearFilter(){
        window.location="[[@{/categories}]]";
    }
</script>
</body>
</html>