<!DOCTYPE html>
<html xmlns:th="https://www.thymleaf.org" xmlns:sec="http://www.thymleaf.org/thymleaf-extras-springsecurity6">
<head th:replace="fragments :: page_head('Домашняя страница','none')">
    <style>
        .dropdown-menu{
            animation: .5s slideup;
        }
        @keyframes slideup {
            from{
                transform: translateY(10%);
            }to{
            transform: translateY(0%);
             }
        }
    </style>
</head>
<body>
<div class="container-fluid">
<div th:replace="userNavigation :: userMenu"></div>
<div th:replace="userNavigation :: search_nav"></div>
    <div>
        <h1>Категории</h1>
    </div>

    <div class="row">
        <div class="col text-center" th:each="cat:${categoryList}">
            <div>
                <img th:src="@{${cat.imagePath}}" style="width: 250px" class="img-fluid"/>
            </div>
            <a th:href="@{'/c/'+${cat.alias}}">[[${cat.name}]]</a>
        </div>
    </div>

    <div th:replace="fragments :: footer"></div>
</div>
</body>
</html>