<!DOCTYPE html>
<html xmlns:th="https://www.thymleaf.org">
<head th:replace="fragments :: page_head('Управление пользователями','none')">
</head>
<body>
<div class="container-fluid">
  <div th:replace="navigation :: menu"></div>
  <div>
    <h2>Управление пользователями</h2>
  </div>

  <div class="row m-2 justify-content-start">
    <div class="col">
    <a th:href="@{/users/new}"><i class="fa-solid fa-user-plus fa-2xl" style="color: darkgrey"></i></a>
      &nbsp;|&nbsp;
    <a th:href="@{/users/export/excel}"><i class="fa-solid fa-file-excel fa-2xl " style="color: green"></i></a>
    </div>
  </div>


  <div th:if="${massage!=null}" class="alert alert-success text-center">
    [[${massage}]]
  </div>
  <div th:replace="fragments :: search_form('/users/page/1')"></div>
<!--  <div>-->
<!--    <form th:action="@{/users/page/1}">-->

<!--      <input type="hidden" name="sortField" th:value="${sortField}" />-->
<!--      <input type="hidden" name="sortDir" th:value="${sortDir}" />-->
<!--      <div class="row g-3 m-2">-->
<!--        <div class="col-auto">-->
<!--          <label class="col-form-label">Фильтр:</label>-->
<!--        </div>-->
<!--        <div class="col-auto col-sm-2">-->
<!--          <input type="search" name="keyword"  th:value="${keyword}" class="form-control " required/>-->
<!--        </div>-->
<!--        <div class="col-auto">-->
<!--          <input type="submit" value="Search" class="btn btn-primary" />-->
<!--          <input type="button" value="Clear" class="btn btn-secondary " onclick="clearFilter()"/>-->
<!--        </div>-->
<!--     </div>-->
<!--    </form>-->
<!--  </div>-->

  <div>
    <table class="table table-bordered table-striped table-responsive-xl">
      <thead class="table-dark">
        <tr>
          <th th:replace="fragments::column_link('/users','id','id')"/>
          <th th:replace="fragments::column_link('/users','email','e-mail')"/>
          <th th:replace="fragments::column_link('/users','lastName','Фамилия')"/>
          <th th:replace="fragments::column_link('/users','firstName','Имя')"/>
          <th th:replace="fragments::column_link('/users','patronymic','Отчество')"/>
          <th>Роль</th>
          <th th:replace="fragments::column_link('/users','enabled','Статус')"/>
          <th></th>
        </tr>
      </thead>
      <tbody>
      <tr th:each="user: ${listUsers}">
        <td>[[${user.id}]]</td>
        <td>[[${user.email}]]</td>
        <td>[[${user.lastName}]]</td>
        <td>[[${user.firstName}]]</td>
        <td>[[${user.patronymic}]]</td>
        <td>[[${user.roles}]]</td>
        <td>
          <a th:if="${user.enabled==true}"
             class="fa-solid fa-circle-check fa-2x icon-green text-center text-decoration-none"
             style="color: green" th:href="@{'/users/change_status/'+${user.id}}"></a>
          <a th:if="${user.enabled==false}"
             class="fa-cog fa-solid fa-solid fa-circle-xmark fa-2x icon-dark text-center text-decoration-none"
             style="color: red" th:href="@{'/users/change_status/'+${user.id}}"></a>
        </td>
        <td>
          <a class="btn btn-success" th:href="@{'/users/edit/'+${user.id}}">Редактировать</a> &nbsp;
          <a class="btn btn-outline-danger" style="" th:href="@{'/users/delete/'+${user.id}}" >Удалить</a>
<!--          <button class="btn btn-outline-danger " th:userId="${user.id}" data-bs-toggle="modal" data-bs-target="#confirmModal">Удалить</button>-->
        </td>
      </tr>
      </tbody>
    </table>
  </div>


<div th:replace="fragments :: pagination('/users','пользователи')">

</div>





<!--<form th:action="@{'/users/delete/'+${user.id}}" method="get"-->
<!--      th:object="${user}">-->
<!--  <input type="hidden" th:field="*{id}">-->
<!--  <div class="modal fade text-center" id="confirmModal" tabindex="-1" aria-hidden="true" aria-labelledby="confirmModalLabel">-->
<!--    <div class="modal-dialog">-->
<!--      <div class="modal-content">-->
<!--        <div class="modal-header">-->
<!--          <h4 class="modal-title">Подтверждение удаления</h4>-->
<!--          <button type="button" class="btn-close" data-dismiss="modal">&times</button>-->
<!--        </div>-->

<!--        <div class="modal-body">-->
<!--          <span>Вы уверены что хотите удалить этого пользователя</span>-->
<!--        </div>-->

<!--        <div class="modal-footer">-->
<!--          <button type="submit" >Подтвердить</button>-->
<!--          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Отменить</button>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</form>-->

  <div class="text-center">
  <div th:replace="fragments :: footer"></div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function (){
    $("#logoutLink").on("click", function (e) {
      e.preventDefault();
      document.logoutForm.submit();
    })
  })

  function clearFilter(){
    window.location="[[@{/users}]]";
  }
</script>
</body>
</html>